* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    background: #f0fff8;
}
html, body {
	height: 100%;
}

a {
	color: #2E8B57;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	background:#ffffff;
}

a:hover {
	color: #DC143C;
}

.header {
    width:100%;
    heidht: 100px;
    float: left;
}

.logo {
	background: #fff;
	width: 43px;
	height: 43px;
	float: left;
	margin-top: -10px;
}

.mainmenu {
    padding: 12px;
    background:#ffffff;
}

.mainmenu li{
    display: inline;
    margin-left: 15px;
}


.left-chapters {
    width: 11%;
    height: 80%;
    float: left;
    text-align: center;
    padding: 10px;
    margin-left: 7%;
}

.left-chapters li{
    list-style: none;
    background-color: #fff;
    margin: 10px;
    border: 1px solid #2E8B57;
    border-radius: 5px;
}

.content {
    width: 60%;
    height: auto;
    min-height: 83%;
    float: left;
    margin: 20px;
    margin-left: 30px;
    border-radius: 10px;
}

.img {
    width: 180px;
    height: 180px;
    float: left;
    border-radius: 10px;
}

.description {
    width: 100%;
    list-style: none;
    float: left;
    background-color: #fff;
    border-radius: 10px;
}

.last{
    color: #A9A9A9;
    float: left;
    background-color: #fff;
}

.link-read-post {
    background: #fff;
    margin-left: 93%;
    margin-top: 7%;
}

.clear {clear: both;}

.footer {
    width: 97.3%;
    float: left;
    text-align: center;
    padding: 25px;
}

.footer li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.footer a {
    background: #f0fff8;
}

.menu {
    float: right;
}

#register a {
    color: #fff;
    background: #2E8B57;
    padding: 6px;
    border-radius: 6px;
}

#register a:hover {
    color: #fff;
    background: #DC143C;
    border-radius: 6px;
}

.selected {
    font-family: "Open Sans";
    color: #DC143C;
    font-weight: 600;
    font-size: 20px;
}

.img-article {
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
}

.ingredients {
    list-style: none;
    text-align: center;
}

.ingredients a {
    background: #f0fff8;
}

.form-input {
    min-width: 300px;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #2E8B57;
    border-radius: 4px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    margin-bottom: 14px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

button {
    color: #fff;
    background: #2E8B57;
    padding: 5px;
    border: 1px solid #2E8B57;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    color: #fff;
    background: #DC143C;
    border-radius: 6px;
}

.list-pages {
	text-align: center;
}

.list-pages ul {
	padding: 0;
	list-style: none;
	background: #f0fff8;
}

.list-pages ul li {
	display: inline-block;
	color: #DC143C;
	font-weight: 600;
	font-size: 23px;
	margin: 0 25px 0 0;
	background: #f0fff8;
	padding: 5px;
}

.list-pages a {
	color: #2E8B57;
	font-size: 23px;
	text-decoration: none;
	background: #f0fff8;
}

.page-num:hover a {
	color: #fff;
    background: #DC143C;
    border-radius: 6px;
    padding: 5px;
}